[2018-06-14 06:59] djendacott opened #1 "How to uninstall?"
The instructions are great, but is there a simple way to uninstall this plugin without breaking anything?

[2018-06-14 09:07] katernet commented on #1
I'll add an uninstall option in the next commit.

To uninstall:
[code]
Delete the following files
~/Library/LaunchAgents/io.github.katernet.darkmode.sunrise.plist ~/Library/LaunchAgents/io.github.katernet.darkmode.sunset.plist ~/Library/Logs/io.github.katernet.darkmode.log
~/Library/Application Support/darkmode (for v1.3: ~/Documents/darkmode)

[2018-06-14 13:41] #1 closed

[2018-07-01 09:05] AdeTheux opened #2 ""Error: no such table: solar" with v1.5"
The script is in ~/Library/Application Support/Darkmode. Running it with "./darkmode.sh" from that directory returns "07/01/18 11:00:21 Error: no such table: solar" in the logs.
After that, a zero kb solar.db file has been created and darkmode has been turned on (but it's 11AM).

[2018-07-04 05:51] ParanoidAditya opened #3 "Not authorized to send Apple events to System Events"
On the latest beta

07/04/18 00:45:11 102:106: execution error: Not authorized to send Apple events to System Events. (-1743)
07/04/18 00:45:11 /Users/paranoidaditya/Documents/darkmode.sh: line 36: [[: File Doesn't Exist, Will Create: /Users/paranoidaditya/Library/LaunchAgents/io.github.katernet.darkmode.sunset.plist: syntax error: invalid arithmetic operator (error token is "'t Exist, Will Create

[2018-07-07 02:27] katernet commented on #2
Sorry for the late reply, Github didn't notify me of this new issue.

It seems your script is now in Application Support, which would break as it is looking for the script file path on first run - First note: https://github.com/katernet/darkmode/tree/bb2f6af7e4b1c1efb701c92c7a23103bfd25f6a3

Try version v1.6 which I just released, it explicity sets the script path in ~/Library/Application Support/

[2018-07-07 02:31] katernet commented on #3
It seems your script is now in Documents, which would break if it's in a path different from first run - First note: https://github.com/katernet/darkmode/tree/bb2f6af7e4b1c1efb701c92c7a23103bfd25f6a3

Try version v1.6 which I just released, it explicity sets the script path in ~/Library/Application Support/darkmode/

The errors mentioning line 36 have also fixed in this release - Stopped uninstall

[2018-07-07 02:45] epk commented on #3
Still have the Not authorized to send to Apple events to System Events error

`07/06/18 21:39:40 102:106: execution error: Not authorized to send Apple events to System Events. (-1743)
06/07/18 21:39:44 darkmode: Solar query stored - Sunrise: 05:28 Sunset: 21:39
07/06/18 21:39:45 102:107: execution error: Not authorized to send Apple events to System Events. (-1743)
`

[2018-07-07 02:57] katernet commented on #3
Thanks I'll look into it.

By on the latest beta do you mean you're on Mojave dev beta 3?

[2018-07-07 03:23] epk commented on #3
Yes! Dev Beta 3

[2018-07-07 08:48] AdeTheux commented on #2
Thanks. I didn't move it though. When I saw v1.5 changed drastically, I completely uninstalled v1.1 I had (following the steps you posted in another issue here).

Then I downloaded the .sh file to ~/Library/Application Support/Darkmode, ran ./darkmode.sh and then dark mode turned on (~10AM here).

Log file now states, in addition to _Error: no such table: solar_:
`07/07/18 10:44:02 ./darkmode.sh:

[2018-07-07 10:55] katernet commented on #2
Possibly your location isn't being picked up by the ipinfo.io/geo curl. Try hard code your location in the script - See note 1 in README

The error mentioning line 36 has been fixed in release v1.6 - Stopped uninstall function from querying the launch agents, which wouldn't exist after uninstall.

[2018-07-07 13:58] AdeTheux commented on #2
I must've failed miserably when uninstalling the previous version. I tried again, uninstalled everything, rebooted, re-installed and the solar.db file got updated with results!
Thanks

[2018-07-07 15:23] katernet commented on #2
Awesome! Thanks @AdeTheux

[2018-07-07 15:55] katernet commented on #3
Updated to beta 3 and the unauthorized execution error is returned in Terminal when simply running the AppleScript command to enable dark mode.

When executing the AppleScript in a shell script within TextMate, a dialogue pops up asking to allow TextMate to access System Events. This adds TextMate to Automation in Security preferences to allow access to System Events and then it works. Running the

[2018-07-09 09:51] katernet commented on #3
When setting a future time to test triggering Mojave Dark Mode, a dialogue opened asking to allow "darkmode.sh" to control System Events. I turned off macOS Dark Mode and switched wallpapers and darkmode.sh now works.

I cannot see it displayed in Security Automation preferences and I am not sure how else to get the dialogue to display. Possibly it will display when the launch agents trigger the s

[2018-07-11 07:32] #3 closed

[2018-07-19 00:57] ApolloZhu commented on #3
@katernet if you don't mind, could you please point me to the info about dynamic dark mode?

[2018-08-08 11:35] katernet commented on #3
@ApolloZhu Please be more specific and this issue is to do with the AppleScript error in the title. Please open a new issue.

[2018-08-08 11:39] katernet commented on #3
Good news everyone! darkmode is now working in Mojave in the latest dev and public beta. After running the script a security window shows asking to allow access System Events and pressing OK will allow the script to run.

[2018-08-24 14:47] bandgeekdante opened #4 "launchd doesn't run darkmode script if solar time was missed while computer was off"
If the computer was sleeping, the StartCalendarInterval fires as soon as the computer wakes if the interval was missed, but this is not the case if the computer was off at the time. On my machine I'm fixing it by making RunAtLoad true on the plist, but you may want to consider this as well for the official release?

[2018-08-24 14:52] bandgeekdante commented on #4
My issue is that I generally turn off my Mac at night (so it'll be in dark mode) and when I turn it on in the morning it's already past sunrise and it just stays in dark mode. I'm using version 1.6 of darkmode and running macOS High Sierra. Other than that though I really appreciate the app!!

[2018-08-28 09:31] katernet commented on #4
Thanks for the report @bandgeekdante

It seems scheduled launchd jobs indeed don't resume after shutdown - https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPSystemStartup/Chapters/ScheduledJobs.html

I have added a commit and released 1.7 to include RunAtLoad true in the launch agents. Thanks for the idea!

[2018-08-28 09:31] #4 closed

[2018-08-28 12:44] bandgeekdante commented on #4
Thanks @katernet! I don't think you need RunAtLoad for both launch agents though since they both just call the darkmode bash script (for example on Mondays that would trigger the solar times to be updated twice I think, though I haven't tested that)

[2018-08-28 14:10] katernet commented on #4
You're right, the script only needs to run once on load and having it in both will cause the script to run twice on login. I'll re-commit when I am back at my computer.

[2018-08-29 16:55] driver733 opened #5 "The script should run only once on load (wake)"
The script should run only once on load (wake)
As per https://github.com/katernet/darkmode/issues/4#issuecomment-416598914

[2018-08-29 21:31] katernet commented on #5
Can I confirm you've cloned the latest commit https://github.com/katernet/darkmode/commit/8a0db1d72cd941fb566df87eec7d6d89fe4f2c00 or used the latest 1.7 release from 13 hours ago?

[2018-08-29 23:20] driver733 commented on #5
@katernet Yes, I did (I used 1.7). BTW, I have not checked if the stated issue actually exists or not. I just wanted to record the issue that you mentioned in the [comment](url
https://github.com/katernet/darkmode/issues/4#issuecomment-416598914).

p.s. Thank you for script! :) I have sent a suggestion to Apple to include auto dark mode in Mojave with reference to you github repo.

[2018-08-30 01:09] katernet commented on #5
Oh ok. I still made a new commit and release to fix that after closing #4

Thanks for the reference!

[2018-08-30 01:09] #5 closed

[2018-09-04 08:11] skull4d commented on #3
Is there any way or command to add an application in System Prefrences > Privacy >Automation > terminal
running beta 8

[2018-09-04 08:32] katernet commented on #3
I don't think so. In Mojave dev beta 5/public beta 4 and above, when the script runs press OK to the System Events dialogue and it will add it in there (need to wait for the next solar time for the job to run the script, if you run from Terminal it will add Terminal in there. Or you could run it manually by using `launchctl start io.github.katernet.darkmode.sunrise.plist` for example)

[2018-09-25 03:23] IdanAdar opened #6 "Ability to provide specific light/dark schedule"
katernet:  Please submit any bugs with 1.9b in this issue.

***

That is, I'd like Light Mode to start at, for example, 06:00am and Dark Mode to start at, for example, 19:00pm.

If I could supply these values as arguments to the script and this will override the default behavior (change to Dark Mode on sunset) it'd be great!

[2018-09-25 03:33] katernet commented on #6
Thanks for the enhancement request. I'll look into it c:

[2018-09-26 07:38] AdeTheux commented on #2
I've just upgraded to Mojave and the same issue happened again. After rebooting once the upgrade was completed, dark mode was turned on automatically (it's 9:30AM here).
So I checked the log, and there are a few lines with today's date:
`Error. no such table: solar`

The solar.db file is also an empty file (zero kb) 🤔

Any thoughts or ideas of what I could do to get the script working again?
Thank

[2018-09-26 07:59] ilmicode commented on #6
That would be awesome. In the meanwhile, I think it is sufficient to change rows 82 and 83:
`# Convert times to 24H
riseT24=$(date -jf "%I:%M %p" "${riseT}" +"%H:%M" 2> /dev/null)
setT24=$(date -jf "%I:%M %p" "${setT}" +"%H:%M" 2> /dev/null)`

@katernet Should it be changed to something like this?

`riseT24="06:00"
setT24="22:00"`

[2018-09-26 10:54] katernet commented on #6
@IdanAdar I looked into this and I've been thinking this idea is not feasible for this project as the bulk of darkmode is built around checking and storing changes in solar times. Introducing this feature may require complete rewrite of the the functions, introducing bugs and instability.

Which leads me to..

@CodeNea good pickup as originally I was thinking of a more complicated way of introduci

[2018-09-26 11:16] katernet commented on #2
Hi @AdeTheux lets revisit my previous theory. If the solar table is empty, then it is still being created in the solar function, however empty values are possibly being stored. The values are variables received by the curl commands.

Try these commands. Does the first output your country code and the next output a time? The first queries your country from ipinfo.io and the second queries the sunri

[2018-09-26 11:23] IdanAdar commented on #6
@CodeNea's suggestion is just as viable for me... I'm good. :)

[2018-09-26 11:36] Toxblh commented on #3
https://indiestack.com/2018/08/apple-events-usage-description/
if short
In `Info.plist` need to add `Privacy - AppleEvents Sending Usage Description` or `NSAppleEventsUsageDescription` in raw keys/values and any description

[2018-09-26 12:17] ilmicode commented on #6
@katernet In that case if there is any input parameter then simply don't query the Weather API as well. So basically it only stores the set and rise, and doesn't periodically check the weather API.
Just as an optimization. 👍

[2018-09-26 12:20] katernet commented on #6
What do you guys think of this framework so far? Can you see any optimizations?

Usage: $ ./darkmode.sh [sunrise 24H] [sunset 24H]

[code]

[2018-09-26 12:37] ilmicode commented on #6
I'm not the best at bash scripts, otherwise I would have commented less and just done it, but it looks cleaner and more understandable now even for me. 👍

I would rename the comment "# Vanilla script" to "# Solar script" or something like that for someone who comes later on and wants to edit the code and will haven no idea what the vanilla script is.

A small small detail, if I understood correct

[2018-09-26 12:39] ilmicode commented on #6
Btw, did you remove the sqlite3 all together? You storing the time in a plist now instead? Feels like a better solution.

[2018-09-26 12:44] katernet commented on #6
This is just a rough proof of concept, with all of the 'vanilla' script removed.

Yes at the moment it's just for hours and not minutes, I tried to script arguments HH:mm and I couldn't get it to work 😄 but I may not be knowledgeable enough.

[2018-09-26 12:55] ilmicode commented on #6
So how do I use it? 😀

[2018-09-26 13:00] katernet commented on #6
I still need to integrate minutes, further optimize and integrate with the master branch without bugs. Once done I'll commit and release. If any of these fail I may not release.

[2018-09-26 13:11] AdeTheux commented on #2
Hi @katernet , thanks again for taking the time to help me with this. Both curl commands work and return the correct value: country code CH for Switzerland, and the sunset time of 6:18pm looks alight.

[2018-09-26 13:54] katernet commented on #2
Tough one! I see that you have upgraded to Mojave and so the script would have already been installed after upgrading. I do know that there are new security features in Mojave that prompt you to allow access to System Events when first running the script (see first note in [README](https://github.com/katernet/darkmode/blob/master/README.md))

And so can you please try an uninstall (again I know 😝)

[2018-09-26 15:41] AdeTheux commented on #2
OK so I uninstalled, rebooted, downloaded, and ran the script. All the files are back in place, the solar.db file is about 12KB so that's a good start… but no time data was stored 😳
`26/09/18 17:22:34 darkmode: Solar query stored - Sunrise:  Sunset:`

The plist files therefore don't contain any time, just 0:0. And FYI just after running the script, dark mode was activated even though it was the mi

[2018-09-26 20:21] bandgeekdante commented on #2
I had a related issue earlier. For me it happens when the solar query runs when my laptop isn't connected to the internet; it seems to store zero values for the sunrise/sunset times which causes strange behaviour in when it is dark or light. Would it be possible for the script to detect whether it's actually able to connect to the API and try again the next day or something like that if it doesn't

[2018-09-26 22:00] katernet commented on #2
@bandgeekdante great point, I hadn't thought about the internet connection. My main rig is over ethernet and in my testing I never encountered this issue.

I was able to replicate this on my MacBook running the script fresh with Wifi turned off, the script ran instantly the first time (normally takes a couple of seconds due to the curl commands) and the log showed no solar times, 0s showed in the

[2018-09-27 07:31] AdeTheux commented on #2
@katernet I'm using a MacBook Pro, always on WiFi. Note that it didn't store 0 in the .db file, it filled it with no number at all.

[2018-09-27 13:01] katernet commented on #2
I can confirm that running darkmode with no internet connection stores empty vaults in the db. And as per my previous reply I was able to replicate 0's in the launch agent plist and no times appearing in the log. This is either a network issue on your end or I'm not sure on what else can resolve this, unless I can think of something later or someone else chimes in with an idea. Sorry!

The best I

[2018-09-27 13:38] AdeTheux commented on #2
Thanks, I'll update to 1.7.2 and try to test this a bit more.

[2018-09-27 13:45] AdeTheux commented on #2
Just FYI there was a slight change compared to before with 1.7.2: I now had two popups asking me to grant authorisation to system events to make changes (or something similar like you mentioned before).
Still stored 0, but I didn't have the popup before this version.

[2018-09-27 14:08] katernet commented on #2
That is a new security in Mojave which appears when the AppleScript runs. I added this to the readme when I was testing the dev betas.

[2018-09-28 06:16] kirichkov opened #7 "Suggestion: Switch from Yahoo API to Night Shift's internal schedule"
As it appears MacOS will expose the night shift schedule as well as sunset/sunrise times on the command line using `/usr/bin/corebrightnessdiag nightshift-internal`.

Benefits of this approach is that dependence on external services can be completely abandoned (finding lat/long and sunset/sunrise times). Also this could be used to switch to dark/light mode using the native Night Shift schedule.

O

[2018-09-28 08:02] katernet commented on #7
Amazing info @kirichkov thanks! I previously looked into using the night shift schedule and I could only find info on using the swift API, which would not benefit my bash script.

Taking a look it seems like I'll just be able to use `corebrightnessdiag nightshift-internal` with some `awk` and then convert to local time and store in the database. I'll look further into it.

[2018-09-28 08:57] katernet commented on #7
Done

[code]

[2018-09-28 09:16] katernet commented on #2
@AdeTheux check out Issue #7 and the new release [1.8](https://github.com/katernet/darkmode/releases/tag/1.8) now using Night Shift for the solar times instead of the Yahoo API. Hopefully this works better for you.

[2018-09-28 09:31] AdeTheux commented on #2
Awesome, thank you! I'll give it a go and report back.

EDIT: I'll wait and see how it behaves tonight, but this is already looking better 🙂
`28/09/18 11:33:36 darkmode: Solar query stored - Sunrise: 07:32 Sunset: 19:11`

[2018-09-28 09:50] katernet commented on #2
Woohoo! Looks good let me know if there are any further issues.

[2018-09-28 09:55] kirichkov commented on #7
👍 👍 👍 Thanks!

I'm closing it since you've implemented it in no time!

[2018-09-28 09:55] #7 closed

[2018-09-28 15:07] jessevdp opened #8 "Suggestion: Run on manual "night shift""
Hi, I have no clue if this is at all possible... currently this solution turns on dark mode based on the times setup in night shift right? What if we could toggle dark mode based on weather or not "night shift" was on? That would me to turn into complete low-light mode if I was working in a dark room... and allow me to just turn back to light mode if I was in bright conditions again.

Let me know

[2018-09-28 23:56] katernet commented on #8
Hi @jessevdp thanks for the request. darkmode is intrinsically centred around running on a launchd schedule at sunrise/sunset times, I am fairly sure you can't use launchd to watch for the Night Shift status. You could maybe use bash to check, but then how could it automate? I am not sure how to implement this. Maybe someone has a bright idea to implement this; I'll leave this issue open for a whi

[2018-09-29 01:20] bandgeekdante commented on #2
Oh no... I upgraded to 1.8 and now I'm getting the "no such table: solar" error :(
Update: Looks like I was able to fix it. It seems the uninstaller didn't delete the darkmode folder inside of Application Support for some reason; when I manually deleted that then reinstalled 1.8 everything worked properly.

[2018-09-29 03:12] katernet commented on #2
😮

I'm glad that you were able to fix it. Yes if the darkmode folder already exists then the solar function won't run until a Monday and so it would not set solar values.

I've also experienced the darkmode folder still existing after an uninstall when trying to replicate bugs. I'll look into why it isn't getting moved to the trash.

EDIT: It's because the uninstall function is trying to move the

[2018-09-29 05:07] kirichkov commented on #7
UPDATE: It's working! Switched to dark mode in the evening, switched to light mode in the morning.

[2018-09-29 06:47] katernet commented on #7
Sweet! Thanks for the idea @kirichkov

[2018-09-29 08:16] jessevdp commented on #8
Hmm I see, it's not like you can tap into some sort of system event the
same way you can tap into time events I guess...

Quick Google search resulted in nothing... But perhaps someone has more
expertise ;)
On Sat, 29 Sep 2018 at 01:56, katernet <notifications@github.com> wrote:

[2018-09-30 02:20] katernet commented on #6
@IdanAdar I have committed to the beta branch and released [1.9b](https://github.com/katernet/darkmode/releases/tag/1.9b)

Please give it a try and post any bugs here.

[2018-09-30 03:10] IdanAdar commented on #6
Any new instructions? What are the changes?

[2018-09-30 03:26] katernet commented on #6
See the description of the beta release. For changes click on the commit link below the tag.

[2018-09-30 03:32] IdanAdar commented on #6
Apologise, but I don't understand from the description if we can now specify arguments for custom theme change or not.

[2018-09-30 05:07] katernet commented on #6
From your original post, you would like Dark Mode to turn off at 06:00 and to turn on at 19:00. So:

`$ ./darkmode.sh 0600 1900`

It will probably work over the top of your existing darkmode install, however I haven't tested this and so probably better to uninstall first.

[2018-09-30 05:14] IdanAdar commented on #6
I ran the above command with the beta code, and despite the time now (08:13) it changed to dark mode.

Should I actually do `darkmode.sh 19:00 0600` (this didn't help either).

From 06:00 to 19:00 it's supposed to be Light Mode, from 19:00 to 06:00 it's supposed to be Dark Mode.

[2018-09-30 06:03] katernet commented on #6
This is exactly why I was wary of implementing this and have not committed this to the master branch, there are too many opportunities for bugs to creep in 😄

This was working in my testing and now I am getting the same results as you. I'll look into it.

You should be using HHMM HHMM

[2018-09-30 06:07] katernet commented on #6
I've pulled the beta release. Use clone or download now from the beta branch.

[2018-09-30 06:22] IdanAdar commented on #6
My example showed `19:00` but that was just a typo...
Right now it seems to work... applied the command and it switched to Light Mode.

[2018-09-30 06:33] katernet commented on #6
Cool! It's weird that I am getting the same results as you were. I'll make a new commit to the beta branch if I find a bug.

[2018-09-30 09:40] katernet commented on #6
This was the bug. Required to set the script as an argument itself, rather than just the static time arguments.

[code]

This cause the script to be run again without arguments, which will run the vanilla solar routines. I've committed a fix.

[2018-09-30 10:00] IdanAdar commented on #6
First attempt didn't switch to dark mode so that's a good sign.

[2018-09-30 10:19] katernet commented on #6
Nice! Thanks for testing @IdanAdar

Arghh I forgot to fix the editPlist function arguments - This runs if the times differ, so if you wanted to change the argument times. I've committed another fix.

[2018-09-30 10:45] IdanAdar commented on #6
Awesome. I believe this issue can be resolved?

[2018-09-30 10:53] katernet commented on #6
I'll leave this issue open for a bit for if there others who encounter bugs.

[2018-10-01 16:30] bandgeekdante commented on #2
So it's now working almost perfectly, but I got a different database-related issue showing up in my log today:
10/01/18 08:18:37 Error: near line 3: database is locked
01/10/18 08:18:37 darkmode: Solar query stored - Sunrise: 07:41 Sunset: 19:12
01/10/18 08:18:37 darkmode: Solar query stored - Sunrise: 07:41 Sunset: 19:12
10/01/18 08:18:37 Error: near line 4: database is locked
The script at the t

[2018-10-02 04:58] katernet commented on #2
I suspect that the database was encrypted due to Filevault and not decrypted until after login. However, I thought that launchagents (which darkmode uses) only run after the user has logged in. Thanks for letting me know that your files were encrypted, if you hadn't mentioned that I would have had no idea! :laughing:

Possibly the launchagent is running the script quick enough that your files hadn

[2018-10-02 06:45] axelra82 opened #9 "Not shifting on sunrise"
When running darkmode.sh the first time (at night time) it shifted from light to dark (and installed all dependencies). But this morning it did not shift back to light.

When running darkmode.sh (from library/application support) it says
/Users/[MY_USERNAME]/Library/Application\ Support/darmode/darkmode.sh ; exit;
-bash: /Users/[MY_USERNAME]/.profile: No such file or directory
[MY_USERNAME]:~[MY_U

[2018-10-02 09:11] katernet commented on #9
Are you sure you are running the script correctly? From the output it mentions 'exit' and the file .profile which is mentioned nowhere in the script. Please make sure you running the script as per the below methods.

[code]

Or just drag darkmode.sh into Terminal (with an empty shell of course)

Also you shouldn't have to run the script manually again when it is working correctly (I understand you

[2018-10-02 09:27] AdeTheux opened #10 "Illegal time format"
Just posting this as a heads up: I saw this yesterday in the logs:

`10/01/18 18:12:45 Failed conversion of ``'' using format ``%Y-%m-%d %H:%M:%S %z''
10/01/18 18:12:45 date: illegal time format
10/01/18 18:12:45 usage: date [-jnRu] [-d dst] [-r seconds] [-t west] [-v[+|-]val[ymwdHMS]] ...
01/10/18 18:12:45 darkmode: Solar query stored - Sunrise:  Sunset:
10/01/18 18:12:45             [-f fmt date

[2018-10-02 10:14] katernet commented on #10
The date command is not getting time values, as indicated by the empty quotes `''`

What is the output of the below command?

`$ /usr/bin/corebrightnessdiag nightshift-internal | grep nextSunrise | cut -d \" -f2`

[2018-10-02 10:15] AdeTheux commented on #10
2018-10-03 05:37:57 +0000

[2018-10-02 10:31] katernet commented on #10
Hmm that isn't an empty output, which is what your log was saying. I'll look into it.

[2018-10-02 10:38] AdeTheux commented on #10
Thanks. I'll also check again later or tomorrow if there's a new line like that in the log. All the rest is now looking good since the switch to night shift.

[2018-10-02 16:04] bandgeekdante commented on #2
I get this:
{
	"LimitLoadToSessionType" = "Aqua";
	"Label" = "io.github.katernet.darkmode.sunrise";
	"TimeOut" = 30;
	"OnDemand" = true;
	"LastExitStatus" = 0;
	"Program" = "/Users/Dr_B/Library/Application Support/darkmode/darkmode.sh";
};
Also after posting that comment (at sunset) I got another security prompt from macOS; perhaps saying yes to that fixed it?

[2018-10-02 21:50] katernet commented on #2
I did some testing by enabling FileVault and shutting down. Booted up after sunrise and didn't type my login password for a minute, logged in and Dark Mode was turned off ok. Unable to replicate your `database is locked` issue.

That's good that the security prompt showed, in my testing in Mojave betas there was a security prompt for Terminal when you first ran the script and then a second prompt

[2018-10-02 21:52] katernet commented on #10
Thanks @AdeTheux let me know if any further issues. I'm currently looking into bugs into the new version, I've had a few bug reports here and on Reddit.

[2018-10-02 22:42] bandgeekdante commented on #2
Hi katernet, I don't remember exactly what the security prompt asked for. It looks like the only relevant thing in the Automation security preferences is Terminal having access to System Events.app. I don't see darkmode.sh specifically in the list. Still I suspect that the last security prompt did fix the issue but I'll let you know if that's not the case

[2018-10-03 07:07] AdeTheux commented on #10
FYI, no new log line about this issue this morning.

[2018-10-03 11:17] katernet commented on #2
Thanks @bandgeekdante yes please keep me updated if you have any further issues.

[2018-10-03 11:19] katernet commented on #10
Thanks @AdeTheux strange that there were no values provided to the date command and now it is fine, I guess that is good news. Please let me know if it happens again.

[2018-10-03 16:06] bandgeekdante commented on #2
No problem! By the way since you've been so awesome with this is there a way I could send you a donation?

[2018-10-03 21:21] katernet commented on #2
Thanks @bandgeekdante you were actually pretty awesome too in helping out with @AdeTheux's issue. No donation required, I'm just happy to share my ideas.

[2018-10-05 12:06] etrahretep opened #11 "New install, log shows ":StartCalendarInterval:Minute" Entry Already Exists"
When uninstalling and reinstalling my logo shows:

05/10/18 14:03:35 darkmode: Solar query stored - Sunrise: 07:53 Sunset: 18:57
10/05/18 14:03:36 /Users/peter/Library/LaunchAgents/io.github.katernet.darkmode.sunset.plist: Could not find specified service
10/05/18 14:03:36 Add: ":StartCalendarInterval:Hour" Entry Already Exists
10/05/18 14:03:36 Add: ":StartCalendarInterval:Minute" Entry Already E

[2018-10-05 13:26] katernet commented on #9
Closing due to no response. Issue is also being discussed in #10

[2018-10-05 13:29] katernet commented on #11
Hi @etrahretep thanks for reporting the issue.

Which version of darkmode are you using and what is the output of this?

`launchctl list | grep katernet`

Uninstall using `./darkmode.sh /u` and make sure the following files/folders are removed and the launch agents are not loaded by running the first command again.
~/Library/Application\ Support/darkmode
~/Library/LaunchAgents/io.github.katernet.d

[2018-10-05 15:39] etrahretep commented on #11
Last login: Fri Oct  5 14:34:33 on ttys000
Peters-MBP:~ peter$ launchctl list | grep katernet
-	0	io.github.katernet.darkmode.sunrise
-	0	io.github.katernet.darkmode.sunset
Peters-MBP:~ peter$

Uninstalled several time with the same log...

05/10/18 17:39:00 darkmode: Solar query stored - Sunrise: 07:53 Sunset: 18:55
10/05/18 17:39:01 /Users/peter/Library/LaunchAgents/io.github.katernet.darkmode.s

[2018-10-06 02:01] axelra82 commented on #9
Hi,
Thank for replying... actually the problem is that it's not switching back after sunrise (to light mode). But the dark mode activates just fine on sunset.

[2018-10-06 03:38] katernet commented on #11
I've done some testing and was able to replicate your log once, except for the `StartCalendarInterval:Minute` entry, and I was unable to find the cause. Subsequent testing does not replicate the results.

It seems when I did get the errors that it was functioning ok. Is your script functioning ok (apart from the error logs)? And are you using the latest release version 1.8?

[2018-10-06 03:54] #8 closed

[2018-10-06 03:59] katernet commented on #10
How's it going so far @AdeTheux ?

[2018-10-06 04:01] katernet commented on #2
How's it going so far @bandgeekdante ? Are you getting any more error logs for `Error: no such table: solar`?

[2018-10-06 04:20] bandgeekdante commented on #2
@katernet Everything's looking good from my end. Are you sure you don't want a donation btw?

[2018-10-06 04:43] katernet commented on #2
Nope 😄
Closing this issue off then. Thanks.

[2018-10-06 04:43] #2 closed

[2018-10-06 06:52] etrahretep commented on #11
It's running on 2 machines of which one has the error log. It's is working though. Using 1.8
Did some further testing but the error persists.
Other question. How simple is it to change the script to pull the times every day instead of once a week?

[2018-10-06 08:12] katernet commented on #11
Weird. I've got the error once and only one of your macs gets the error. I'll keep looking into it.

Very easy, in the `darkMode()` function change the following from

[code]

to just

[code]

[2018-10-06 08:14] katernet commented on #11
What model and year (in About this Mac) are the Mac models which have the issue and don't have the issue?

[2018-10-06 08:27] etrahretep commented on #11
A 2017 MBP and a 2012 iMac. But I believe It's not machine dependent. Having issues on the MBP but when starting from iMac backup on MBP no issues... (same system setup)
Don't bother investigating; I reinstalled iMac backup to MBA. All running smoothly now.
Thanks very much for your help!

[2018-10-06 08:50] katernet commented on #11
Thanks glad you got it sorted. Closing this one off now.

[2018-10-06 08:50] #11 closed

[2018-10-07 10:43] krema commented on #10
I had the same issue in Mojave and found the solution by myself.

You need to make sure that you have allowed the privacy & security settings to allow the location services to get information about your timezone and system settings.

[2018-10-07 11:59] katernet commented on #10
Nice info @krema you are correct, I did encounter this in my testing. You need to have Setting Timezone enabled in System Preferences > Security > Location Services > System Services > Details for Night Shift to work and to allow sunrise/sunset times to be queried from Night Shift. This is enabled by default. I'll put this in the Readme.

Without this enabled the output to darkmode's commands quer

[2018-10-08 07:56] AdeTheux commented on #10
I don't have the 'illegal time format' error in the log file anymore, but this one now appeared and dark mode is not turned off automatically in the morning. Do you want me to open another issue, or uninstall/reinstall?
`10/06/18 16:57:26 /Users/Arnaud/Library/LaunchAgents/io.github.katernet.darkmode.sunrise.plist: Could not find specified service`

[2018-10-08 13:21] katernet commented on #10
An uninstall/reinstall will probably fix it, but I don't like how this is becoming a common fix method.

This error and a schedule not working usually means an launch agent isn't running properly. I'll have a look into it.

What is the output of `launchctl list | grep katernet`

[2018-10-08 15:04] AdeTheux commented on #10
I'll try an uninstall/reinstall now.
This is the output of the command:
`114:-	0	io.github.katernet.darkmode.sunrise
257:-	0	io.github.katernet.darkmode.sunset`

[2018-10-09 06:21] AdeTheux commented on #10
Uninstall/reinstall seemed to have fixed it.

[2018-10-09 07:52] katernet commented on #10
Thanks that's good. Yeah I don't want to have people regularly having uninstall and reinstall to get it working again. I'll be doing some testing and look into it. I did make a change in 1.8.1 to hopefully prevent the script from messing up after multiple uninstalls.

[2018-10-11 09:43] axelra82 opened #12 "Not switching back to light mode"
I posted the issue here
https://github.com/katernet/darkmode/issues/9#issuecomment-427537778

but it was closed for some reason and I don't know how to re-open it (I have 3 jobs, so sometimes it can take a couple of days before I have the time to answer 😄).

Like it says in the original post... it is switching to dark mode just fine at night. It's just not switching back to light mode in the morni

[2018-10-11 11:21] katernet commented on #12
Hi. I closed the issue as there was no response, particularly because I asked questions and the answers/results were not provided. I did see you replied again, however the results weren't supplied again.

The log you provided in your original issue is already being discussed in #10 and there is more activity and results in that issue, I would prefer to use that issue for tracking to be honest.

I

[2018-10-11 12:45] axelra82 commented on #10
Moving over here from [issue#10](https://github.com/katernet/darkmode/issues/12).
I ran all the requested lines in terminal (after downloading the latest version, 1.8.1 and first uninstalling whatever version I had before installing latest download again)
- - - -
[code]
(last one was empty)
- - - -

When I installed it now (during daytime) it switched to dark mode (don't know if that is correct or

[2018-10-11 13:03] katernet commented on #10
@axelra82 can you please post the contents of the log file?

[2018-10-11 13:12] axelra82 commented on #10
**My bad!** Missed that. Here you go:
[code]

[2018-10-11 20:39] katernet commented on #10
Ok so you are still getting empty times for the sunrise/sunset dates in the Night Shift commands even after reinstalling.

Can you please make sure that Timezone location settings are enabled in the Security settings - instructions in the README notes.

[2018-10-11 20:41] katernet commented on #10
If Timezone is already enabled, what is the output of this one command?

`$ riseT=$(/usr/bin/corebrightnessdiag nightshift-internal | grep nextSunrise | cut -d \" -f2); date -jf "%Y-%m-%d %H:%M:%S %z" "$riseT" +"%H:%M"`

[2018-10-11 20:42] katernet commented on #12
Closing as per #10

[2018-10-11 20:42] #12 closed

[2018-10-12 04:36] krema commented on #10
@katernet Wouldn't it be good to check the security settings before installing and informing the user that he has to enable it by himself before he can continue the installation? Or is there a way to trigger the security settings popup from the system?

[2018-10-12 09:36] axelra82 commented on #10
@katernet here is the command with the response
[code]
I also notised last night while working that it switched to dark mode at midnight (12.00 AM), which is long after sunset here (Sweden) this time of year.

[2018-10-12 10:48] katernet commented on #10
@krema That would be a good idea. I'll look into it. From initial research, I cannot yet find a defaults command or database file which houses this setting that I can check.

@axelra82 As per my previous [reply](https://github.com/katernet/darkmode/issues/10#issuecomment-429110408) is Timezone enabled in Security settings? (see README for instructions)

The script is getting null values from the N

[2018-10-12 12:28] axelra82 commented on #10
@katernet Sorry, yes, Timezone is enabled (and was enabled before installing).

[2018-10-12 16:46] cesarradtke commented on #10
my response is...

Failed conversion of ``2018-10-14 8:57:19 AM +0000'' using format ``%Y-%m-%d %H:%M:%S %z''
date: illegal time format
usage: date [-jnRu] [-d dst] [-r seconds] [-t west] [-v[+|-]val[ymwdHMS]] ...
            [-f fmt date | [[[mm]dd]HH]MM[[cc]yy][.ss]] [+format]

[2018-10-13 01:45] katernet commented on #10
@axelra82 Hi Axel I still haven't found your issue. Can you please download the following test script and run it twice and then send the contents of the logs to katernet -at- protonmail.com

For the first run, enter an Hour and Minute time in 24H format between sunrise and sunset time,
and then the second run enter a time after sunset and before sunrise.

Make sure to copy the contents of the log

[2018-10-13 12:58] axelra82 commented on #10
Sure, will do. Tried running it, e.g. with 14:48, 14.48, 14 48 and 1448.
The last one (with no dot, space or colon, returns
`Time out of bounds. Exiting.`
every other entry returns an error before ☝️
`syntax error: invalid arithmetic operator`

So the time format I should enter is HHmm? Also, did you mean for me to enter the current time, at any point between sunrise and sunset, i.e. during the da

[2018-10-13 14:15] katernet commented on #10
No you enter hours and then minutes. Example:

[code]

Yes run a time between sunrise and sunset and get log contents. Then run a time between sunset and sunrise (the next day) and get log contents.

[2018-10-13 18:04] axelra82 commented on #10
Got it! Done once after sunset now. Will do next after sunrise tomorrow and send you the log files.

[2018-10-13 22:47] katernet commented on #10
You don't need to wait for the next sunrise. Run it with Hr and Min values once and then again straight afterwards as I described. Sorry if I was not clear enough.

The test script does not do anything, it just runs the framework of the script and all I want to see is the set -x output.

[2018-10-15 14:53] querkmachine commented on #10
Don't know if it's related to this specifically, but all of today the script has been pinging me into dark mode. I did a bit of digging and found the Yahoo API that determines the sunset time is returning a malformed time ("6:6 pm").

`{"query":{"count":1,"created":"2018-10-15T14:42:43Z","lang":"en-gb","results":{"channel":{"astronomy":{"sunset":"6:6 pm"}}}}}`

This is the the result of directly `

[2018-10-15 20:45] katernet commented on #10
I changed the solar time "engine" of darkmode from the Yahoo weather API to Night Shift in v1.8 and this issue relates to some users getting null time values in 1.8 and the associated date command errors. If your Mac supports Night Shift I would recommend updating. If not then please make a new issue.

I did a quick test with my code in [v1.7.2](https://github.com/katernet/darkmode/blob/5cbe4dedd1

[2018-10-15 20:54] axelra82 commented on #10
@katernet sorry for the delay. I've run the test script now and emailed you the logs.

[2018-10-15 20:59] katernet commented on #10
Thanks. I'll take a look when I am back from work.

[2018-10-15 21:00] querkmachine commented on #10
@katernet Fair enough, I've got no explanation for why darkmode was bugging out for me today then. I've upgraded to 1.8.1 now.

[2018-10-16 07:42] katernet commented on #6
Closed. I'll merge this into the master for a new release once I've sorted out the exiting issues.

[2018-10-16 07:42] #6 closed

[2018-10-31 16:43] anaclumos opened #13 "How do I remove this?"
Can you please provide some details about how to remove this?
I have enjoyed this a lot, but I now want to get back to one theme.

[2018-10-31 16:47] anaclumos commented on #13
Found it!

To uninstall:
[code]
Delete the following files
~/Library/LaunchAgents/io.github.katernet.darkmode.sunrise.plist ~/Library/LaunchAgents/io.github.katernet.darkmode.sunset.plist ~/Library/Logs/io.github.katernet.darkmode.log
~/Library/Application Support/darkmode (for v1.3: ~/Documents/darkmode)

[2018-11-01 09:21] notsidney commented on #13
You can also run the original script with the `/u` flag:
[code]

It’s right at the bottom of the README file but kinda hard to see

[2018-11-26 13:14] almabel01 opened #14 "cannot unsinstall"
tried to uninstall many versions from terminal ./darkmode.sh /u (including the last update), once deleted the folder manually, yet mac sets itself to darkmode around sundown
MBA - macOS Mojave 10.14.1

[2018-11-27 08:17] katernet commented on #14
To uninstall manually use [these instructions](https://github.com/katernet/darkmode/issues/1)

Let me know how it goes.

[2018-11-27 15:36] almabel01 commented on #14
Thank you for your help.
Following the instructions, I uninstalled it, this way it does not change the Alfred theme but **change to dark mode at sundown**.
Sorry for not being concrete, every time I uninstalled it ( ./darkmode.sh /u) the same thing happened Alfred theme unchanged, dark mode on.
😔

[2018-11-27 20:51] #14 closed

[2019-01-10 19:16] cesarradtke commented on #10
Think I found problem. I don't know if always displays like that, but in my case, "corebrightnessdiag nightshift-internal"  returned date-time in 12 hour format, including AM/PM word. So, riseTL and setTL variable will store wrong value. Well, I added a test and '%p'  to solve.
[patch.diff.txt](https://github.com/katernet/darkmode/files/2746752/patch.diff.txt)

[2019-01-11 07:38] katernet commented on #10
@cesarradtke Great nice work! I never picked up on this as I set my system to 24H, however most users will have the default 12H.

Can you please create a pull request?

This will resolve your issue below, however it may not resolve the OP, although hopefully it does!

Also digging your FreeBSD avatar!

[2019-01-13 06:58] katernet commented on #10
Committed @cesarradtke's pull request and published release 1.8.2

[2019-01-13 06:59] katernet commented on #10
I've been quiet on this issue in the past few months, as to be honest I don't know how to fix it. I reviewed @axelra82's test script logs and looked over the master script and did some testing over the holidays.

I'll keep this issue open, anyone is free to share any ideas.

[2019-01-28 17:06] one8loop commented on #10
Hi @katernet, I have an idea about the 'Illegal time format' bug.
The privacy setting you mentioned above is not sufficient to enable localization on macOS. WiFi should be enabled too. When I use an Ethernet connection, even Night Shift does not work till WiFi is turned on.

This is the output of `corebrightnessdiag nightshift-internal` when I'm using a wired connection and WiFi is disabled:
[code

[2019-01-31 12:17] katernet commented on #10
@one8loop great good work! I was able to replicate this by turning off wifi and then rebooting (nightshift command would still output with wifi off and without rebooting).

I'll update the ReadMe shortly.

@AdeTheux / others are you please able to test this?

[2019-03-27 22:26] joshuaseltzer opened #17 "Daylight Savings Time Adjustments"
Where I live (Eastern Standard Time, United States) I noticed that the darkmode script did not change when Daylight Savings Time kicked in a few weeks ago.  My Nightshift won't kick in until much later in the evening (as expected), but the darkmode script still thinks it's dark outside much earlier in the day.  Before DST went into affect, everything synced up nicely.

I wonder if this is related

[2019-03-28 22:15] joshuaseltzer commented on #17
FYI uninstalling and reinstalling the script appeared to solve this for me.  Would be nice if it were able to fix itself for areas which adhere to DST.

[2019-04-04 17:21] bandgeekdante commented on #17
I had this bug but I made a couple of edits so that it would update the times every day; this way the DST issue only happens on one day (kind of a band-aid fix)

[2019-04-04 17:23] bandgeekdante commented on #10
@katernet Could there be a way to delay running the Night Shift check until Wifi is connected? I usually use Wifi but sometimes it takes a few seconds to connect and the script usually runs in those few seconds, triggering the bug
Edit: I wrapped the "solar" function in an if block which tests for internet connectivity (not strictly Wifi, but that's the only type of connection I ever use so for me

[2019-04-04 19:31] joshuaseltzer commented on #17
@bandgeekdante ideally we'd set it to run at particular days of the year if you live in an area which observed DST. I'm sure there's an API to help us determine that.

[2019-04-25 10:20] katernet commented on #10
Hi @bandgeekdante sorry for the late reply. I've updated the beta branch with a Wifi check that exits the script if wifi is not connected after 30 seconds. I've also added a DST checker and replied to the other issue.

[code]

Can you please test and let me know here if there are any issues. Just replace the script ~/Library/Application Support/darkmode.sh with the beta script.

[2019-04-25 10:26] katernet commented on #17
Hi @joshuaseltzer and @bandgeekdante sorry for the late reply, I've been away. To be honest, my desktop Mac updated the solar times to daylight saving times ok.

I've updated the beta branch with a Daylight Saving Time (DST) checker.

https://github.com/katernet/darkmode/commit/caac14fde51dd9117abf285553f42831cdbfd3bf

I've added it to the beta branch as I am not confident there are no issues. Ple

[2019-05-06 16:10] bandgeekdante opened #18 "Typo in beta branch"
Line 122 of the beta branch currently says
`sqlite3 /users/[redacted]/desktop/test.db <<EOF`
but it should say
`sqlite3 "$darkdir"/solar.db <<EOF`
as in line 90 of the master branch

[2019-05-06 21:53] katernet commented on #18
Hey what's that doing there! Fixed. Thanks.

[2019-05-06 21:53] #18 closed

[2019-05-15 00:16] joshuaseltzer commented on #17
Sorry I'm also getting back to you so late.  I just uninstalled the old script and installed the beta script on both of my machines.  I'll let you know how it goes.

[2019-05-15 00:54] pelillian opened #19 "Sunrise/Sunset does not work"
For some reason when I run the darkmode.sh script it correctly checks the current time and sets the mode accordingly, but does not automatically do so at sunrise and sunset.

[code]

Mojave 10.14.4
Mid 2015 MacBook

[2019-05-15 21:52] katernet commented on #19
Exit code 78 seems to be configuration error. Which version are you running, 1.8.2?

And are you connected to wifi? (Doesn't require to be only connection, primary connection can be ethernet) and is Setting Timezone enabled as per Readme?
Is darkmode allowed in Automation in System Preferences > Security & Privacy > Privacy > Automation ?
What does the log contain?
[code]

Also you could try relau

[2019-05-18 06:32] pelillian commented on #19
Yeah, I'm running 1.8.2 connected to wifi. I accepted the dialog that popped up about system events but I don't see Darkmode in the list under Automation (iTerm is there if that helps).

Log before relaunching launch agent:
[code]

After relaunching launch agent:
[code]

Thanks!

[2019-05-18 11:23] katernet commented on #19
What are the permissions for sunrise.plist? Run the below

`ls -l ~/Library/LaunchAgents/io.github.katernet.darkmode.sunrise.plist`

If they are not `-rw-r--r--  [yourusername]  staff` then run the below and then `launchctl unload` and `launchctl load`

[code]

[2019-05-18 18:41] pelillian commented on #19
Here's the result of ls -l:
`-rw-r--r--  1 pelillian  staff  531 May 13 23:00 /Users/pelillian/Library/LaunchAgents/io.github.katernet.darkmode.sunrise.plist`

[2019-05-19 02:08] katernet commented on #19
Before I forget the obvious... what are the permissions on darkmode.sh?

`ls -l ~/Library/Application\ Support\darkmode\darkmode.sh`

Should be `-rwxr-xr-x [yourusername]  staff` (ignore the @ if it shows).

[2019-05-19 02:09] katernet commented on #19
Before I forget the obvious... what are the permissions on darkmode.sh?

`ls -l ~/Library/Application\ Support/darkmode/darkmode.sh`

Should be `-rwxr-xr-x [yourusername]  staff` (ignore the @ if it shows).

[2019-05-21 01:11] pelillian commented on #19
`-rw-r--r--@ 1 pelillian  staff  7886 May  8 09:46 /Users/pelillian/Library/Application Support/darkmode/darkmode.sh`

And that might be our problem!

After a quick chmod +x:
`-rwxr-xr-x@ 1 pelillian  staff  7886 May  8 09:46 /Users/pelillian/Library/Application Support/darkmode/darkmode.sh`

Anything else I should do or do you think it will work now?

[2019-05-21 11:10] katernet commented on #19
@pelillian should be good now. Let me know if dark mode doesn't schedule.

[2019-05-21 16:46] pelillian commented on #19
Thanks so much! It seems to be working.

[2019-05-21 16:46] #19 closed

[2019-05-21 21:33] katernet commented on #17
@joshuaseltzer have you had any problems with the beta script, such as things not working, errors etc? Obviously we won't wait until the next daylight saving scheduler (and I think manually changing the date won't kick it in).

[2019-05-21 22:05] joshuaseltzer commented on #17
Nope - no issues thus far with the beta on either of my machines. Like you said, however, I cannot confirm it's working until the next daylight savings time kicks in.

[2019-05-22 09:21] katernet commented on #17
Cool thanks. I'll look into migrating this into the release soon.
As the next daylight saving start/finish time is around 5 months away, I will close this off. Anyone with issues with the solar time being 1hr late/early for the next daylight saving schedule, please feel free to open an issue.

[2019-05-22 09:21] #17 closed

[2019-06-06 02:35] pelillian opened #22 "Messages app doesn't fully change mode"
Not sure what's going on here—this might be a macOS limitation—but sometimes (maybe 20% of the time, may be related to whether or not it's open) when I open my laptop in the morning my messages look like this.

## Selected
<img width="790" alt="Messages darkmode bug 1" src="https://user-images.githubusercontent.com/16657986/59002487-7dc7d280-87c7-11e9-9e4e-7f0f4293c489.png">

## Unselected
<img wi

[2019-06-06 21:50] katernet commented on #22
My first thought is a macOS bug. Try uninstall my darkmode and leave macOS dark mode on for a while and see if Messages bugs like that in the morning. Edit: You seem to have dark mode off. Try toggling it on/off or off/on every so often manually ¯\\_(ツ)_/¯

If it still does this then it's a macOS bug, if it doesn't then I am not really sure how to fix this, as all my script does is automate the tu

[2019-06-10 17:19] pelillian commented on #22
OK, I did this and I can't seem to reproduce the error without using your script.

[2019-06-10 21:55] katernet commented on #22
Unable to fix. Unless anyone else can find a bug.

When this script changes to dark mode, it uses Apple Script which instantly changes the window color, compared to the built in which transitions smoothly. Unfortunately there is currently no other way to change to dark mode programatically using shell script. Thanks for bringing this to our attention.

Catalina will introduce an 'Auto' option for

[2019-06-13 11:32] #22 closed

[2019-07-05 11:35] katernet commented on #10
As pointed out by @bandgeekdante the issue was related to the Night Shift command requiring to pull sunset data while on wifi.

I have released [2.0](https://github.com/katernet/darkmode/releases/tag/2.0) which has a wifi checker and exits if not connected to wifi.

If this issue occurs again, please comment and I will reopen this issue.

[2019-09-11 13:44] bandgeekdante commented on #10
Hi Katernet, unfortunately I'm getting the issue again, running version 2.0:
`09/09/19 08:51:46 darkmode: Failed conversion of ``'' using format ``%Y-%m-%d %H:%M:%S %z''
09/09/19 08:51:46 darkmode: date: illegal time format
09/09/19 08:51:46 darkmode: usage: date [-jnRu] [-d dst] [-r seconds] [-t west] [-v[+|-]val[ymwdHMS]] ...
09/09/19 08:51:46 darkmode:             [-f fmt date | [[[mm]dd]HH]MM[

[2019-09-13 08:50] katernet commented on #10
Hi @bandgeekdante sorry about that. I thought that the changes in 2.0 would resolve this!

So we now know the issue is caused by `corebrightnessdiag nightshift-internal` outputting null solar values to the script.

I see that you are on wifi. Run the above command and report the results, it's either going to be null or output values (will probably have values, knowing the finickiness of this)

If

[2019-09-13 09:09] katernet commented on #10
You also could try downgrading to 1.7.2 which uses Yahoo weather API 😛 and see how that goes?
This will be slower to gather solar data, but you won't notice it if you're not monitoring the script.

If all else fails, you could just set your own static times, if you're happy with that. Uninstall darkmode and run with 24H time arguments for sunrise and sunset.

e.g.
`$ darkmode.sh 0600 1900`

[2019-09-16 15:06] bandgeekdante commented on #10
Hi katernet, I tried uninstalling and reinstalling, and the same bug happened again. When I run the above command, I get (null) for sunrise/sunset for quite a long time after connecting to Wifi. I'll try changing the timeout to 120 to see if the problem gets fixed...

[2019-09-17 08:01] katernet commented on #10
I see, it seems there's something wrong with the corebrightnessdiag binary on your Mac or your wifi's localization queries, which fall out of my scope.

See how increasing the timeout goes, else try the other alternatives I suggested.

Let me know how it goes.

[2019-10-01 09:17] katernet commented on #10
How's it going @bandgeekdante ?

[2019-10-01 13:40] bandgeekdante commented on #10
So far so good!

[2019-10-01 22:53] katernet commented on #10
Cool! If you need any more help let me know. If the issue is resolved, feel free to close this out.

[2019-10-10 11:00] katernet commented on #10
@bandgeekdante if the issue crops up again, try removing the `log()` function and the line `exec 2> >(log)` just underneath.

I've been doing some testing and found when first running the script, the sqlite statements in `getTime` still run when isolated out with an if condition, causing `Error: no such table: solar` to show 4 times in the log.

When I turn the logging off these errors do not show

[2019-10-14 15:16] bandgeekdante commented on #10
It did indeed crop up again today. I didn't get any "no such table: solar" messages today, though I got:
[code]
Is it worth it to remove the log function? Wouldn't that mean I can no longer see these issues when they come up in the log?

[2019-10-15 08:50] katernet commented on #10
Just going back to krema's [comment](https://github.com/katernet/darkmode/issues/10#issuecomment-427643208) are you sure that in System Preferences the option Setting timezone using location is enabled in Date & Time > Timezone and Setting timezone is enabled in Security > Location Services > System Services? I just realised you hadn't confirmed that.

If so, as per my comments on Sep 13 this may

[2019-10-22 21:24] bandgeekdante commented on #10
Hi katernet, thanks for all the help with this throughout the past year. Since upgrading to OS Catalina I'm now just going to use the auto dark mode feature.

[2019-10-23 08:21] katernet commented on #10
@bandgeekdante No problem man. Yes I updated the README when Catalina launched, to basically say there's no point in using this 😝

Sorry we couldn't get to the bottom of it. Good to chat with you.

[2019-10-23 08:21] #10 closed

[2020-03-29 06:32] jSadoski opened #23 ""Error: Invalid arguments" when setting either parameter to 0800"
Using parameters like `./darkmode.sh 0800 1930` produces this error:

[code]

When testing each parameter evaluation individually (from `line 281`), this evaluation:

[code]

produces the error: `((: 0800: value too great for base (error token is "0800")`

`8` is being processed as an octal, not base 10.

[2020-03-30 09:16] #23 closed

[2021-12-17 03:47] trankien386 opened #26 "Compatible with macOS Big Sur?"
I used your script on macOS Catalina to have dark mode automatically changing based on my preferred time instead of Night Shift's time. After installing macOS Big Sur, I noticed that the script doesn't work sometimes. Like when i open my macbook at today morning, it doesn't automatically change to light mode.

I looked at the ~/Library/Logs/io.github.katernet.darkmode.log and i see these line:

`1

[2021-12-25 12:32] trankien386 commented on #26
I have set up the time to turn on dark mode automatically at 19:00. I rarely work at 19:00 but today i do and i notice dark mode doesn't automatically turn on. Here is the log again:

[code]

I'm still in macOS Big Sur 11.6.1.

[2022-04-26 16:54] katernet commented on #26
I am very sorry for such a belated reply. I haven't been monitoring this project for quite some time; the latest issue was posted in Mar 2020 and I conceded that Apple added Auto dark mode in Catalina.

`execution error: Application isn’t running. (-600)`

This is the Apple Script failing to invoke System Events, which does exit after inactivity and in theory should re-activate when invoked with A